/* About Us Page Styles */
.aboutus-page {
  background: var(--background-light);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
}

.aboutus-container {
  flex: 1;
  max-width: 98.5%;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform var(--transition-medium), box-shadow var(--transition-medium);
  box-shadow: 0px 4px 8px var(--primary-color);
}

.vision-mission-container {
  flex: 1;
  max-width: 98.5%;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Hover effect for the aboutus-container */
.aboutus-container:hover {
  transform: scale(1.02); /* Slight scaling effect */
  box-shadow: 0 6px 12px var(--primary-color); /* Enhanced shadow on hover */
}

.vision, .mission {
  flex: 1;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px var(--primary-color);
  transition: transform var(--transition-medium), box-shadow var(--transition-medium);
}

.vision:hover, .mission:hover {
  transform: scale(1.03); /* Slight scaling effect */
  box-shadow: 0px 6px 12px var(--primary-color); /* Deeper shadow on hover */
}

.aboutus-heading {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-primary);
}

.vision-mission-container h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-primary);
}

.accent-line {
  width: 50px;
  height: 4px;
  background-color: var(--text-dark);
  margin: 10px 0;
}

.aboutus-content,
.our-vision,
.our-mission {
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 10px;
  color: var(--text-primary);
}

.aboutus-button {
  background-color: transparent; /* Inherits the parent container's background */
  color: var(--text-light);
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color var(--transition-fast), color var(--transition-fast);
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 5px;
}

.aboutus-button:hover {
  background: var(--primary-color);
  color: var(--text-light);
}

.our-vision-heading,
.our-mission-heading {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-dark);
  margin-top: 20px;
  text-align: center;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .aboutus-page {
    flex-direction: column;
  }

  .aboutus-container,
  .vision-mission-container {
    max-width: 100%;
  }
}
