/* .AllCategories Section */
.Blogs {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 99.9%;
  margin: 20px 0;
  color: var(--text-primary);
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Main header banner style */
.Blogs h2 {
  font-size: 40px;
  color: var(--text-primary);
  margin-bottom: 20px;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Introductory paragraph style */
.Blogs p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-primary);
  margin-bottom: 20px;
  text-align: center;
}

/* Blog List Section */
section {
  margin-bottom: 40px; /* Space for BlogList component */
}

/* Create Blog Section */
.create-blog-section {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  background: var(--primary-light);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-blog-section h3 {
  font-size: 1.5rem;
  color: var(--text-primary);
  margin-bottom: 10px;
}

.create-blog-section p {
  font-size: 1rem;
  color: var(--text-muted);
  margin-bottom: 20px;
}

/* Create Blog Button */
.create-blog-button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--text-light);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
}

.create-blog-button:hover {
  background-color: var(--secondary-hover-color);
  color: var(--text-light);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .create-blog-section {
    padding: 15px;
  }
}
