/* General Styles */
.Background-container {
  background-color: none;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: var(--text-primary);
  display: flex;
  flex-wrap: wrap;
  width: 100%; /* Ensure full width */
  /* box-sizing: border-box; Include padding in width calculation */
  overflow: hidden; /* Prevent overflow */
}

/* Top Section Container */
.background-container-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%; /* Ensure it doesn't overflow */
}

/* Partner Section */
.Partner-container-main {
  flex: 1;
  max-width: 400px;
  padding: 20px;
  background: var(--secondary-color);
  box-shadow: 0 4px 6px var(--shadow-color);
  border-radius: 8px;
  margin-top: 20px;
  box-sizing: border-box; /* Prevent overflow */
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}


.Partner-container {
  list-style: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
  justify-content: center;
}

.Partner-container h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: var(--primary-color);
  text-align: center;
}

.Partner-container li {
  margin-bottom: 20px; /* Add spacing between list items */
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-primary);
  text-align: left;
}

.Partner-container li strong {
  font-weight: bold;
  color: var(--secondary-color);
}

/* Contact Us Section */
.contact-us-container {
  flex: 1;
  max-width: 600px;
  padding: 20px;
  background: var(--secondary-color);
  box-shadow: 0 4px 6px var(--primary-color);
  border-radius: 8px;
  margin-top: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.contact-us-container:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 10px var(--primary-color);
  background-color: var(--background-light); /* Updated hover background color */
}

.contact-us-heading {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--primary-color);
  text-align: center;
}

.contact-us-description {
  font-size: 1rem;
  margin-bottom: 5px;
  color: var(--primary-color);
  text-align: center;
}

.contact-us-description-1 {
  font-size: 0.9rem;
  margin-bottom: 15px;
  color: var(--primary-color);
  text-align: center;
}

/* Contact Form */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form label {
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--light-text-color);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--primary-color);
  transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.contact-form input:hover,
.contact-form textarea:hover {
  background-color: var(--background-light); /* Updated hover background color */
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: var(--blue-focus);
  box-shadow: 0 0 5px var(--input-focus-box-shadow);
}

.contact-form textarea {
  height: 170px;
  resize: vertical;
}

.contact-form textarea:focus {
  border-color: var(--blue-focus);
  box-shadow: 0 0 5px var(--secondary-color);
}

.submit-button {
  padding: 10px 15px;
  margin-top: 20px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: var(--text-light);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-button:hover {
  background-color: var(--primary-color);
  color: var(--text-light);
}

.submit-status {
  margin-top: 10px;
  font-size: 0.9rem;
  color: var(--submit-status-color);
}

/* Global Location Section */
.location {
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 2;
  max-width: 100%; /* Prevent overflow */
}

.location h2 {
  color: var(--text-primary);
  font: 2em;
}

/* Responsive Design */
@media (max-width: 768px) {
  .background-container-top {
    flex-direction: column;
  }

  .Partner-container-main,
  .contact-us-container {
    min-width: 100%; /* Ensures sections take up full width */
    max-width: 100%; /* Ensures sections take up full width */
  }

  /* Make sure location does not exceed screen size */
  .location {
    max-width: 100%;
  }
}
