/* styles/Header.css */

.header {
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
  color: var(--text-light);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.4);
  border: 1px solid var(--primary-hover-color);
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;
  width: 98.75vw;
  height: 38px;
}

.logo {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-light);
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
}

.logo-title {
  justify-content: left;
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-light);
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  margin: 0px;
  display: inline-block;
}

.logo img {
  max-width: 70px;
  height: 30px;
  transition: transform 0.3s ease, max-width 0.2s ease;
}

.logo img:hover {
  transform: scale(1.1);
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-item, .nav-item-blog {
  position: relative;
  color: var(--text-light);
  text-decoration: none;
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 1px;
  transition: color 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.nav-item:hover, .nav-item-blog:hover {
  color: var(--text-primary);
  background-color: var(--primary-hover-color);
  border-radius: 4px;
}

.dropdown {
  background-color: var(--card-background);
  color: var(--text-primary);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  padding: 10px 0;
  min-width: 180px;
  z-index: 10;
  overflow-y: auto;
  max-height: 300px;
  white-space: nowrap;
}

.dropdown-item {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 10px 15px; /* Adds full clickable area */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
  color: var(--text-light);
  background: var(--primary-color);
  border-radius: 4px; /* Optional: Adds subtle rounding */
}

.profile-container {
  display: flex;
  align-items: center;
  position: relative;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.profile-icon:hover {
  transform: scale(1.1);
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
  }

  .nav-item, .nav-item-blog {
    width: 100%;
    padding: 12px 0;
    text-align: left;
  }

  .dropdown {
    position: relative;
    left: 0;
    width: 100%;
    border-radius: 0 0 4px 4px;
    max-height: none;
  }
}
