/* Login.css */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-light);
}

.login-form {
  background-color: var(--card-background);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px var(--shadow-light);
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.login-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--text-primary);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 14px;
  color: var(--text-primary);
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--border-light);
  border-radius: 4px;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: var(--primary-color);
  color: var(--text-light);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: var(--primary-hover-color);
}

.divider {
  text-align: center;
  margin: 20px 0;
  color: var(--text-muted);
  font-size: 14px;
}

/* Google Login Button - Same width as the login button */
.google-login-button {
  max-width: 400px; /* Match the width of the login button */
  width: auto; /* Allow it to fit its content */
  padding: 12px;
  background-color: var(--primary-color); /* Same as login button */
  color: var(--text-light); /* Google Text Color */
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-login-button:hover {
  background-color: var(--primary-hover-color); /* Same hover effect as login button */
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}
