/* KnowMore.css */

/* Quality container */
.Quality-container {
  max-width: 100%;
  border-radius: 0.5px;
  box-shadow: 0 4px 12px var(--shadow-light); /* Updated to use variable shadow color */
  display: flex;
  transition: background 0.3s ease; /* Smooth transition for background change */
}

/* Container styling */
.Quality-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  background: linear-gradient(to bottom, var(--primary-color) 20%, var(--secondary-color) 85%); /* Light gradient background */
  border-radius: 10px;
  box-shadow: 0 4px 12px var(--shadow-light); /* Updated to use variable shadow color */
  text-align: center;
  color: var(--text-primary); /* Primary text color */
  font-family: Arial, sans-serif;
  transition: box-shadow 0.3s ease, background-color 0.3s ease; /* Transition for background and shadow */
}

.Quality-container:hover {
  box-shadow: 0 6px 18px var(--shadow-dark); /* Darker shadow on hover */
}

/* Main title styling */
.Quality-container h2 {
  font-size: 2.5rem;
  color: var(--accent-color); /* Accent color for title */
  margin-bottom: 20px;
  transition: color 0.3s ease; /* Smooth transition for title color */
}

.Quality-container h2:hover {
  color: var(--accent-hover-color); /* Hover effect for title */
}

/* Subtitle styling */
.Quality-container h3 {
  font-size: 1.75rem;
  color: var(--accent-color); /* Accent color */
  margin-top: 30px;
  margin-bottom: 15px;
  transition: color 0.3s ease; /* Transition for subtitle color */
}

.Quality-container h3:hover {
  color: var(--accent-hover-color); /* Hover effect for subtitle */
}

/* Paragraph styling */
.Quality-container p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: var(--text-light); /* Light text color */
  transition: color 0.3s ease; /* Transition for paragraph color */
}

/* List styling */
.Quality-container ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left; /* Align list to the left */
}

.Quality-container li {
  font-size: 1.1rem;
  color: var(--text-muted); /* Muted text color for list items */
  margin-bottom: 10px;
  transition: color 0.3s ease; /* Transition for list item color */
}

.Quality-container li:hover {
  color: var(--text-primary); /* Hover effect for list items */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .Quality-container {
      padding: 20px;
  }

  .Quality-container h1 {
      font-size: 2rem;
  }

  .Quality-container h2 {
      font-size: 1.5rem;
  }

  .Quality-container p,
  .Quality-container li {
      font-size: 1rem;
  }
}
