/* .services Section */
.services {
    background-color: var(--background-light); /* Light background */
    padding: 20px;
    text-align: center;
}

.services h1 {
    padding: 20px;
    text-align: center;
    color: var(--text-primary); /* Primary text color */
    font-size: 220%;
}

.services p {
    padding: 20px;
    text-align: center;
    color: var(--text-secondary); /* Secondary text color */
}

/* Container for service cards */
.service-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.service-card {
    background: var(--secondary-color); /* Light background for cards */
    border-radius: 8px;
    padding: 30px;
    margin: 15px;
    flex: 0 1 calc(100% - 30px);
    max-width: 500px;
    box-shadow: 0 2px 4px var(--primary-color); /* Use primary color for shadow */
    text-align: center;
    transition: transform 0.2s ease, color 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Style for the heading (h2) inside service card */
.service-card h2 {
    font-size: 24px;
    color: var(--text-primary); /* Primary text color for h2 */
    margin-bottom: 10px;
    font-weight: bold;
    transition: color 0.2s ease;
}

/* Style for the paragraph (p) inside service card */
.service-card p {
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-muted); /* Muted text color */
    margin-bottom: 15px;
    transition: color 0.2s ease;
}

.service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Primary color for hover */
}

.service-card:hover h2 {
    color: var(--text-primary); /* Light text color for heading on hover */
}

.service-card:hover p {
    color: var(--text-secondary); /* Light text color for paragraph on hover */
}

/* Button style within service card */
.service-card button {
    background-color: var(--primary-color); /* Primary button color */
    color: var(--text-light); /* Light text color for button */
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    align-self: center;
    margin-top: auto;
}

.service-card button:hover {
    background-color: var(--primary-color); /* Button background changes to light color on hover */
    color: var(--text-light); /* Button text changes to primary color on hover */
    transform: scale(1.05);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .service-card {
        flex: 0 1 100%; /* Full width on smaller screens */
    }
}
