.quality-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  color: var(--text-primary);
  width: 97%;
}

/* Styles for the testing strategies section */
.testing-strategies {
  margin-bottom: 40px;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 4px 12px var(--primary-color);
}

.testing-strategies h1 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 15px;
  text-align: center;
}

.testing-strategies ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}

.testing-strategies li {
  font-size: 1rem;
  color: var(--text-primary);
  margin-bottom: 10px;
  line-height: 1.6;
  transition: color 0.3s ease;
}

.testing-strategies li:hover {
  color: var(--text-muted); /* Change color on hover */
}

/* Styles for quality sections */
.quality-section {
  margin-bottom: 40px;
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 20px;
}

.quality-section h2 {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.quality-section p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: var(--text-muted);
}

.quality-list {
  list-style: none;
  padding: 0;
}

.quality-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 1rem;
  color: var(--text-primary);
}

.quality-icon {
  margin-right: 10px;
  color: var(--primary-color);
  font-size: 1.2rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .testing-strategies {
    padding: 15px;
  }

  .testing-strategies h1 {
    font-size: 1.5rem;
  }

  .quality-section h2 {
    font-size: 1.5rem;
  }

  .quality-section p,
  .testing-strategies li {
    font-size: 0.9rem;
  }

  .quality-icon {
    font-size: 1rem;
  }
}
