/* Container style for the Software Development component */
.DigitalSEO {
  background: linear-gradient(to top, #9593ac 20%, #9bb7c4 65%);
  background-color: #cccccc;
  padding: 20px;
  border-radius: 8px;
  width: 99.9%;
  margin: 20px 0;
  color: white; /* White text color */
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.DigitalSEO h2 {
  color: #231f41;
  text-align: center;
  font-size: 2.5rem;
}

.DigitalSEO p {
  color: black;
  text-align: left;
  font-size: 0.9rem;
}

/* List styling */
.keyfeature-list {
  list-style-type: none;
  padding: 20;
  margin: 20px 0;
  text-align: left;
  color: black; /* White color for list items */
  font-size: 1.1rem;
}

/* Keyfeature styling */
.keyfeature-list h3 {
  text-align: center;
  color: #231f41;
  font-size: 1.5rem;
}

/* List item styling */
.keyfeature-list li {
  margin-bottom: 15px;
  font-size: 16px;
  font-size: 1rem;
}

/* Emphasize strong text within list items */
.keyfeature-list li strong {
  color: #231f41; /* White color for strong emphasis */
  font-size: 1.2rem;
}

/* Button container for centering */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Button styles */
.get-in-touch-button {
  background-color: #7969a0; /* Primary button color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.get-in-touch-button:hover {
  background: linear-gradient(to bottom, #231f41 40%, #8caab9 100%); /* Darker blue on hover */
  color: yellowgreen; /* Accent color on hover */
  transform: scale(1.05);
}

.get-in-touch-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}
