.services {
    /* background: linear-gradient(to bottom, #231f41 20%, #8caab9 55%); Dark gradient for blog items */
    /* background: linear-gradient(to bottom, #9593ac 20%, #9bb7c4 65%); */
    background-color: #cccccc;
    padding: 20px;
    text-align: center;
}
.services h1 {
    padding: 20px;
    text-align: center;
    color: black;
    font-size: 220%
}

.services p {
    padding: 20px;
    text-align: center;
    color: #2c2e30;
}

/* Container for service cards, ensuring only two cards per row */
.service-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; /* Space between cards */
}

.service-card {
    background: linear-gradient(to bottom, #9593ac 20%, #9bb7c4 65%); /* Updated gradient direction */
    border-radius: 8px; /* Rounded corners */
    padding: 30px; /* Increased padding for more space inside the card */
    margin: 15px; /* Adjusted margin for spacing between cards */
    flex: 0 1 calc(100% - 30px); /* Wider card, spans most of the container width */
    max-width: 550px; /* Increased max width */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Slightly deeper shadow for better effect */
    text-align: center;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Style for the heading (h2) */
.service-card h2 {
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Style for the paragraph (p) */
.service-card p {
    font-size: 16px;
    line-height: 1.6;
    color: #2c2e30;
    margin-bottom: 15px;
}

.service-card:hover {
    transform: scale(1.05);
}

/* Button style within service card */
.service-card button {

    background-color: #23144d;
    color: #ffffff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    align-self: center; /* Center button horizontally */
    margin-top: auto; /* Push button to the bottom */
}

.service-card button:hover {
    background-color: rgb(18, 18, 58);
    color: #cccccc;
    transform: scale(1.05);
}

/* Media query for smaller screens to display one card per row */
@media (max-width: 768px) {
    .service-card {
        flex: 0 1 100%; /* Full width on smaller screens */
    }
}
