/* Container style for the Software Development component */
.SoftwareDev {
  background: linear-gradient(to bottom, #231f41 20%, #042535 55%);
  padding: 20px;
  border-radius: 8px;
  width: 97%;
  margin: 20px 0;
  color: white; /* White text color */
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.SoftwareDev h2 {
  color: #f0a500;
  text-align: center;
}

.SoftwareDev p {
  color: white;
  text-align: left;
}

/* List styling */
.keyfeature-list {
  list-style-type: none;
  padding: 20;
  margin: 20px 0;
  text-align: left;
  color: white; /* White color for list items */
}

/* Keyfeature styling */
.keyfeature-list h3 {
  text-align: center;
  color: #f0a500;
}

/* List item styling */
.keyfeature-list li {
  margin-bottom: 15px;
  font-size: 16px;
}

/* Emphasize strong text within list items */
.keyfeature-list li strong {
  color: #f0a500; /* White color for strong emphasis */
}

/* Button container for centering */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Button styles */
.get-in-touch-button {
  background-color: #7969a0; /* Primary button color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.get-in-touch-button:hover {
  background: linear-gradient(to bottom, #231f41 40%, #8caab9 100%); /* Darker blue on hover */
  color: yellowgreen; /* Accent color on hover */
  transform: scale(1.05);
}

.get-in-touch-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}
