/* KnowMore.css */

.Background-container {
    max-width: 100%;
    background: linear-gradient(to top, #231f41 20%, #8caab9 85%);
    border-radius: 0.5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    gap: 10px;
}

/* Container styling */
.success-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background: linear-gradient(to bottom, #231f41 20%, #8caab9 85%);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: #0a0a0a;
    font-family: Arial, sans-serif;
}

/* Container styling */
.Partner-container-main {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background: linear-gradient(to bottom, #231f41 20%, #8caab9 85%);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: #0a0a0a;
    font-family: Arial, sans-serif;
}

/* Main title styling */
.success-container h1 {
    font-size: 2.5rem;
    color: #f0a500;
    margin-bottom: 20px;
}

.success-container h2 {
    font-size: 1.75rem;
    color: #f0a500;
    margin-bottom: 20px;
}

/* Paragraph styling */
.success-container p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: whitesmoke;
}

/* Subtitle styling */
.Partner-container-main h2 {
    font-size: 1.75rem;
    color: #f0a500;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}

/* List styling */
.Partner-container ul {
    display: flex;
    padding-left: 20px;
    text-align: left;
}

.Partner-container li strong {
    font-weight: bold; /* Bold style for <strong> */
    color: #f0a500;
    font-size: 1.2rem;
}

.Partner-container li {
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .know-more-container {
        padding: 20px;
    }

    .know-more-container h1 {
        font-size: 2rem;
    }

    .know-more-container h2 {
        font-size: 1.5rem;
    }

    .know-more-container p,
    .know-more-container li {
        font-size: 1rem;
    }
}
